.tariffs {
	padding-top: 30px;
	&__title {
		max-width: 500px;
	}
	&__subtitle {
		margin-top: 39px;
		margin-bottom: 72px;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}
}
.tariffs-card {
	border: 1px solid #dddfe0;
	border-radius: 10px;
	background-color: #fff;
	padding: 27px 20px 30px;
	&__caption {
		text-align: center;
		margin-bottom: 37px;
	}
	&__desc {
		text-align: center;
		margin-bottom: 40px;
	}
	&__gallery {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
		margin-left: -2px;
		margin-bottom: 19px;
	}
	&__img {
		width: calc(50% - 5px);
		border-radius: 6px;
		height: 100px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&_big {
			width: 100%;
			height: 220px;
		}
	}
	&__items {
		min-height: 102px;
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin-left: -2px;
		margin-bottom: 9px;
	}
	&__item {
		display: flex;
		font-size: 18px;
		line-height: 133%;
		&-caption {
			font-weight: 700;
			margin-right: 3px;
		}
		&-value {
			font-weight: 300;
		}
		&-desc {
			font-weight: 300;
			font-size: 10px;
			line-height: 140%;
		}
		span {
			color: #da2320;
		}
	}
	&__info {
		font-weight: 300;
		font-size: 12px;
		line-height: 167%;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #dddfe0;
		border-bottom: 1px solid #dddfe0;
		span {
			color: #da2320;
		}
	}
	&__bottom {
		display: flex;
		justify-content: center;
		padding-top: 20px;
	}
	&__btn {
		width: 170px;
	}
}
@media (max-width: 1200px) {
	.tariffs {
		&__wrap {
			gap: 20px;
		}
	}
	.tariffs-card {
		padding: 25px 15px;
		&__caption {
			font-size: 22px;
			margin-bottom: 24px;
		}
		&__desc {
			min-height: 100px;
			margin-bottom: 24px;
			br {
				display: none;
			}
		}
		&__img {
			&_big {
				height: 180px;
			}
		}
		&__gallery {
			margin-left: 0px;
			margin-bottom: 15px;
		}
		&__items {
			margin-left: 0px;
			margin-bottom: 10px;
		}
		&__item {
			font-size: 16px;
		}
		&__info {
			line-height: 140%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
@media (max-width: 1010px) {
	.tariffs {
		&__title {
			max-width: 440px;
		}
		&__subtitle {
			margin-top: 24px;
			margin-bottom: 50px;
		}
	}
}
@media (max-width: 760px) {
	.tariffs {
		&__title {
			max-width: 250px;
		}
		&__subtitle {
			margin-top: 16px;
			margin-bottom: 25px;
		}
	}
	.tariffs-card {
		&__caption {
			font-size: 20px;
			margin-bottom: 16px;
		}
		&__btn {
			width: 100%;
		}
	}
}
