@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display/SF Pro Display Light/SF Pro Display Light.eot");
	src:
		url("../fonts/SF Pro Display/SF Pro Display Light/SF Pro Display Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SF Pro Display/SF Pro Display Light/SF Pro Display Light.woff") format("woff"),
		url("../fonts/SF Pro Display/SF Pro Display Light/SF Pro Display Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display/SF Pro Display Regular/SF Pro Display Regular.eot");
	src:
		url("../fonts/SF Pro Display/SF Pro Display Regular/SF Pro Display Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/SF Pro Display/SF Pro Display Regular/SF Pro Display Regular.woff") format("woff"),
		url("../fonts/SF Pro Display/SF Pro Display Regular/SF Pro Display Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display/SF Pro Display Medium/SF Pro Display Medium.eot");
	src:
		url("../fonts/SF Pro Display/SF Pro Display Medium/SF Pro Display Medium.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/SF Pro Display/SF Pro Display Medium/SF Pro Display Medium.woff") format("woff"),
		url("../fonts/SF Pro Display/SF Pro Display Medium/SF Pro Display Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display/SF Pro Display Semibold/SF Pro Display Semibold.eot");
	src:
		url("../fonts/SF Pro Display/SF Pro Display Semibold/SF Pro Display Semibold.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/SF Pro Display/SF Pro Display Semibold/SF Pro Display Semibold.woff") format("woff"),
		url("../fonts/SF Pro Display/SF Pro Display Semibold/SF Pro Display Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display/SF Pro Display Bold/SF Pro Display Bold.eot");
	src:
		url("../fonts/SF Pro Display/SF Pro Display Bold/SF Pro Display Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SF Pro Display/SF Pro Display Bold/SF Pro Display Bold.woff") format("woff"),
		url("../fonts/SF Pro Display/SF Pro Display Bold/SF Pro Display Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
